#//npm.pkg.github.com/:_authToken=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


registry=http://localhost:4873/,
username= mass812,
email= williamwellman98@gmail.com,
_password= Ashton0829!,
username= mass812,



# always-auth = true
recursive-install = true
# loglevel=info